@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  border-color: #3b3b3b;
  user-select: none;
}

.inputformat {
  @apply mb-2 bg-gray-50 text-gray-600 border focus:border-transparent border-gray-300 sm:text-sm rounded-lg ring ring-transparent focus:ring-1 focus:outline-none focus:ring-gray-400 block p-2.5 py-3 px-4;
}

.tablerow {
  @apply text-center p-4 border-hidden font-montserrat font-medium text-base;
}
