@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  border-color: #3b3b3b;
  user-select: none;
}
